<div class="container mt-5">
  <div class="card shadow p-4 border-0">
    <h2 class="mb-4 text-primary fw-bold">Add New Course</h2>
    
    <form (ngSubmit)="saveCourse()" #courseForm="ngForm">
      <div class="mb-3">
        <label class="form-label fw-bold">Course Title</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="newCourse.title" required #titleVar="ngModel">
        <div class="text-danger small" *ngIf="titleVar.touched && titleVar.invalid">Title is required</div>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Category</label>
        <select class="form-select" [(ngModel)]="newCourse.catId" name="catId" required #catVar="ngModel">
          <option value="" disabled selected>-- Choose Category --</option>
          <option *ngFor="let cat of categories" [value]="cat.id">
            {{ cat.name }}
          </option>
        </select>
        <div class="text-danger small" *ngIf="catVar.touched && catVar.invalid">Category is required</div>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Price</label>
        <input type="number" class="form-control" name="price" [(ngModel)]="newCourse.price" required>
      </div>

      <div class="mt-4 pt-2">
        <button type="submit" class="btn btn-primary px-5 btn-lg" [disabled]="courseForm.invalid">Add Course</button>
        <button type="button" class="btn btn-outline-secondary ms-3" routerLink="/courses">Cancel</button>
      </div>
    </form>
  </div>
</div>